<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/basicStyles.css">
</head>
<body>
    <main>
        <h1 class="<%= status.type %>"><%= header1 %></h1>
        <p class="<%= status.type %>"><%= status.message %></p>
        <a href="/"><button>Menu</button></a>
    </main> 
</body>
</html>