<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/styles/style.css" />
    <title>Flowers</title>
  </head>
  <body>
    <main>
      <h1>All flowers list in our database </h1>
      <table>
        <thead>
          <tr>
            <th>Flower id</th>
            <th>Name</th>
            <th>Unit price</th>
            <th>Farmer</th>
            <th>Stock</th>
          </tr>
        </thead>
        <tbody>
          <% result.forEach(flower => { %>
          <tr>
            <td><%= flower.flowerId %></td>
            <td><%= flower.name %></td>
            <td><%= flower.unitPrice %></td>
            <td><%= flower.farmer %></td>
            <td><%= flower.stock %></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
      <a href="/"><button>Menu</button></a>
    </main>
  </body>
</html>
